body {
	height: 100vh;
}

#contact-page__container {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

#contact-wrapper {
	width: 85%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#contact-blurb {
	word-wrap: normal;
	font-size: 1.75em;
	background: rgb(255,240,179);
	display: flex;
	flex-direction: column;
	align-items: center;
}

#contact-blurb a {
	font-size: 1.75em;
	padding: unset;
	background: rgb(255,240,179);
}

#contact-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (max-width: 600px) {
}

@media screen and (max-width: 400px) {
	#contact-blurb {
		height: 25%;
		justify-content: center;
		border-radius: 13px 13px;
		align-items: center;
	}

	#contact-blurb p {
		text-align: center;
	}

	#contact-blurb,
	#contact-blurb a {
		font-size: 1em;
	}

	#contact-blurb a {
		color: blue;
		text-decoration: underline;
	}

	footer {
		display: none;
	}
}
