* {
	margin: 0;
}

body {
	height: 100vh;
	overflow-x: hidden;
	background: white;
}

#root {
	position: relative;
}

nav {
	z-index: 100000000;
	display: flex;
	justify-content: space-evenly;
	height: 65px;
	background: rgba(255, 240, 179);
	align-items: center;
	top: -2px;
}

a {
	padding: 8px 1em;
	text-decoration: none;
	color: black;
	font-size: 1.75em;
	font-weight: bolder;
}

a div {
	background: url('assets/logo.jpg');
	background-size: 100% 100%;
	height: 55px;
	width: 55px;
}

.navigation-link:hover {
	background: rgba(255,255,255,.85);
	text-decoration: none;
	color: black;
}

#nav-left,
#nav-right {
	width: 33%;
	display: flex;
	justify-content: space-evenly;
}

.navigation-link {
	font-family: 'Lobster', cursive;
}

#nav-right {
	justify-content: flex-end;
}

#logo-container {
	height: 7em;
	display: flex;
	justify-content: center;
}

#logo {
	background: url('./assets/WhatsTheBizWithTJ_Logo_transparent.png');
	height: 100%;
	width: 9rem;
	background-repeat: no-repeat;
	background-size: contain;
}

#about-preview__container {
	height: 150em;
	border-bottom: 3px solid black;
}

#video-container {
	height: 85em;
	display: flex;
	justify-content: center;
	align-items: center;
}

#about-preview {
	height: 45em;
	background: rgb(255,240,179);
	top: 10em;
	width: 55em;
	z-index: 1;
	margin-bottom: 10%;
	border-radius: 50%;
	margin-left: -27rem;
	color: black;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#about-blurb__wrapper {
	width: 50%;
}

#about__background {
	height: 135%;
	transform: rotate(45deg);
	position: absolute;
	width: 100%;
	top: 0;
	display: flex;
	right: 5em;
}

#about__feature {
	height: 30em;
	width: 25em;
	background: url('./assets/juanita.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	transform: rotate(-90deg);
	position: absolute;
	bottom: 35px;
	right: 0;

}

#features-preview__container {
	height: 105em;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 3px solid black;
}

#features-preview {
	height: 35em;
	background: rgba(0,0,0, .88);
	width: 75%;
	margin-bottom: 15%;
	top: 75px;
	display: flex;
	z-index: 1;
}

.feature {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

#home-feature__one {
	background: url('./assets/tr3umphant-designs.JPG');
	background-repeat: no-repeat;
	background-size: cover;
}

#home-feature__two {
	background: url('./assets/bee.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

#home-feature__three {
	background: url('./assets/ashley.png');
	background-repeat: no-repeat;
	background-size: cover;
}

#home-feature__four {
	background: url('./assets/juanita.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

#home-feature__five {
	background: url('./assets/tayo.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.feature p,
.feature div {
	visibility: hidden;
}

div.selected-feature {
	flex: 6;
	transition: flex-grow .5s ease;
}

.special-feature p,
.special-feature div {
	visibility: visible;
}

#video-wrapper {
	height: 35em;
	width: 85%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 15%;
	top: 75px;
}

#video {
	height: 85%;
	width: 90%;
	background: rgba(253, 181, 14, 0.25);
	display: flex;
	justify-content: center;
	align-items: center;
}

#footer-wrapper {
	width: 100%;
	background: lightgrey;
	height: 7em;
}

.yellow {
	background: rgba(255, 240, 179);
	width: 15em;
	height: 100%;
}

.black {
	background: black;
	width: 35em;
	height: 100%;
}

section,
main {
 position: relative;
}

.section-link {
	font-family: 'Lobster', cursive;
	font-size: 3em;
	animation: moveleft 2.5s infinite;
}

@keyframes moveleft {
	50% {
		margin-right: 2em;
	}
	100% {
		margin-right: 0;
	}
}

.sticky {
	position: sticky;
	top: 0;
}

#dot-wrapper {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.dot {
	height: 55px;
	width: 25px;
	border-radius: 15px;
	background: rgb(255,240,179);
	position: absolute;
}

.dot-one {
	top: 15em;
	left: 20em;
}

.dot-two {
	top: 6em;
	right: 15em;
}

.dot-three {
	bottom: 15em;
	left: 5em;
}

.dot-four {
	bottom: 25em;
	left: 20em;
}

.dot-five {
	bottom: 35em;
	right: 7em;
}

.dot-six {
	bottom: 5em;
	right: 10em;
}

.section-link {
	position: absolute;
	bottom: 0;
	right: 0;
	color: black;
	z-index: 1;
}

.animation-grow {
	animation: grow 3.5s linear infinite;
}

iframe {
	height: 100%;
	width: 100%;
}

@keyframes grow {
	50% {
		transform: scale(2)
	}
	100% {
		transform: scale(1);
	}
}
