* {
	margin: 0;
}

body {
	overflow-x: hidden;
	background: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#root {
	position: relative;
	height: 100vh;
	width: 100%;
}

nav {
	z-index: 100000000;
	display: flex;
	justify-content: space-evenly;
	height: 65px;
	background: rgba(255, 240, 179);
	align-items: center;
	top: -2px;
	width: 100%;
}

a {
	padding: 8px 1em;
	text-decoration: none;
	color: black;
	font-size: 1.75em;	
}

a div {
	background: url('assets/logo.jpg');
	background-size: 100% 100%;
	height: 55px;
	width: 55px;
}

.navigation-link {
	font-weight: bolder;
}

p {
	font-family: 'Alata', sans-serif;
	font-weight: 400;
}

.navigation-link:hover {
	background: rgba(255,255,255,.85);
	text-decoration: none;
	color: black;
}

#nav-left,
#nav-right {
	width: 45%;
	display: flex;
	justify-content: space-evenly;
}

.navigation-link,
.section-link {
	font-family: flood-std, sans-serif;
}

#logo-container {
	height: 7em;
	display: flex;
	justify-content: center;
	box-shadow: 1px 2px 20px black;
	width: 100%;
}

#logo {
	background: url('./assets/WhatsTheBizWithTJ_Logo_transparent.png');
	height: 100%;
	width: 9rem;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

#about-preview__container {
	height: 150em;
	border-bottom: 3px solid black;
}

#video-container {
	height: 55em;
	display: flex;
	justify-content: center;
	align-items: center;
}

#about-preview {
	height: 45em;
	background: rgb(255,240,179);
	top: 10em;
	width: 55em;
	z-index: 1;
	margin-bottom: 10%;
	border-radius: 50%;
	margin-left: -27rem;
	color: black;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#about-blurb__wrapper {
	width: 45%;
	font-size: 1.25em;
	margin-right: 1em;
}

#about__background {
	height: 135%;
	transform: rotate(45deg);
	position: absolute;
	width: 100%;
	top: 0;
	display: flex;
	right: 5em;
}

#about__feature {
	height: 30em;
	width: 25em;
	background: url('./assets/juanita.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	bottom: 35px;
	right: 0;
}

#features-preview__container {
	height: 105em;
	display: flex;
	justify-content: center;
	border-bottom: 3px solid black;
}

#features-preview {
	height: 35em;
	background: rgba(0,0,0, .88);
	width: 75%;
	margin: 15% 0;
	top: 75px;
	z-index: 1;
	overflow-x: hidden;
}

.feature {
	flex: 1;
	position: absolute;
	left: 100%;
	top: 0;
	height: 100%;
	width: 100%;
}

.carousel__move-in {
	animation: carouselMoveIn .5s forwards;
}

.carousel__move-out {
	animation: carouselMoveOut .5s forwards;
}

#home-feature__right-arrow {
	position: absolute;
	height: 100%;
	width: 4em;
	font-size: 1.5em;
	border-radius: 15px;
	right: -.75em;
	background: lightgrey;
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes carouselMoveIn {
	from {
		left: 100%;
	}
	to {
		left: 0;
	}
}

@keyframes carouselMoveOut {
	from {
		left: 0;
	}
	to {
		left: -100%;
	}
}


#home-feature__one {
	background: url('./assets/t-0.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#home-feature__two {
	background: url('./assets/t-1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#home-feature__three {
	background: url('./assets/t-2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#home-feature__four {
	background: url('./assets/t-3.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#home-feature__five {
	background: url('./assets/t-4.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center left;
}

#home-feature__six {
	background: url('./assets/t-5.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.feature p,
.feature div {
	visibility: hidden;
}

div.selected-feature {
	flex: 6;
	transition: flex-grow .5s ease;
}

.special-feature p,
.special-feature div {
	visibility: visible;
}

#video-wrapper {
	height: 35em;
	width: 85%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 15%;
	top: 75px;
}

#video {
	height: 85%;
	width: 90%;
	background: rgba(253, 181, 14, 0.25);
	display: flex;
	justify-content: center;
	align-items: center;
}

.yellow {
	background: rgba(255, 240, 179);
	width: 15em;
	height: 100%;
	opacity: .85;
}

.black {
	background: black;
	width: 35em;
	height: 100%;
	opacity: .85;
}

section,
main {
 position: relative;
}

.section-link {
	font-size: 3em;
	animation: moveleft 2.5s infinite forwards;
	position: absolute;
	bottom: 0;
	right: 0;
	color: black;
	z-index: 10;
}

@keyframes moveleft {
	50% {
		margin-right: 1.5em;
	}
	100% {
		margin-right: 0;
	}
}

.sticky {
	position: sticky;
	top: 0;
}

#dot-wrapper {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.dot {
	height: 55px;
	width: 25px;
	border-radius: 15px;
	background: rgb(255,240,179);
	position: absolute;
}

.dot-one {
	top: 15em;
	left: 20em;
}

.dot-two {
	top: 6em;
	right: 15em;
}

.dot-three {
	bottom: 15em;
	left: 5em;
}

.dot-four {
	bottom: 25em;
	left: 20em;
}

.dot-five {
	bottom: 35em;
	right: 7em;
}

.dot-six {
	bottom: 5em;
	right: 10em;
}

.animation-grow {
	animation: grow 3.5s linear infinite;
}

iframe {
	height: 100%;
	width: 100%;
}

#video__section-link {
	bottom: 2em;
}

#hamburger {
	display: none;
}

#mobile-nav {
	display: none;
}

#logoLink {
	height: 100%;
	width: 100%;
	display: block;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 15;
}

#socials {
	flex: 1;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background: rgb(255,240,179);
}

.social__image {
	height: 1.5em;
	width: 1.5em;
	filter: grayscale();
}

@media (max-width: 900px) {
	#logoLink {
		display: none;
	}

	.navigation-wrapper {
		display: none;
	}

	#logo-container {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 10000000;
		background: white;
	}
}

@media only screen and (max-width: 600px) {
	body {
		overflow: unset;
	}

	#root {
		position: relative;
    display: flex;
    flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		padding-top: 8em;
		height: unset;
	}

	#logo-container {
		top: 0;
	}

	.sticky {
		position: unset;
	}

	#features-preview__container {
		order: 2;
		border-bottom: 1px solid black;
		height: unset;
		padding: 5em 0;
		width: 100%;
	}

	#features-preview {
		position: relative;
		width: 100%;
		margin: unset;
		top: 0;
		left: 0;
		height: 24em;
	}

	#about-preview__container {
		height: 20em;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		position: unset;
		order: 3;
		border: unset;
		margin-bottom: 5em;
		padding: 5em 0 0;
	}

	#about__feature,
	#about__background,
	#dot-wrapper {
		display: none;
	}

	#about-preview {
		width: unset;
		height: 100%;
		margin: unset;
		border-radius: unset;
		justify-content: center;
		align-items: center;
		background: black;
	}

	#about-blurb__wrapper {
		width: 100%;
		color: black;
		display: flex;
		justify-content: center;
		align-content: center;
		background: rgb(246, 217, 139);
		padding: 4em;
		font-size: 1em;
		margin: unset;
	}


	#about-blurb__wrapper p {
		padding: 1em;
    background: white;
    font-size: 16px;
	}

	.section-link,
	#video__section-link {
		background: rgb(255,240,179);
		bottom: -1em;
		font-size: 2.5em;
	}

	#about__section-link {
		bottom: 2em;
	}

	#video-wrapper {
		width: 100%;
		height: 100%;
		display: initial;
		margin: 0;
		top: unset;
	}

	#video-wrapper iframe {
		max-height: 300px;
		max-width: 600px;
		height: 100vh;
		width: 100%;
	}

	#video-container {
		border-bottom: 1px solid black;
		width: 100%;
		padding-bottom: 4em;
		height: unset;
	}
}
