#about-page__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

#about-page__container p {
	width: 85%;
	font-weight: bolder;
	font-size: 1.5;
	text-align: justify;
}

@media (max-width: 600px) {
	#about-page__container {
		margin-top: 7em;
		justify-content: flex-start;
	}

	#about-page__container p {
		background: rgb(243, 240, 68);
		padding: 1.25em;
		font-size: 1.5em;
		margin: 1em 0;
	}
}

