body {
	height: 100vh;
}

#blog__container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#blog__message-wrapper {
	height: 5em;
	background: black;
	padding: 2em;
	display: flex;
	align-items: center;
}

#blog__message {
	background: rgb(246, 217, 139);
	font-family: flood-std, sans-serif;
	font-size: 24px;
	padding: 1em;
}