#press__billboard {
	height: 35em;
	background: url('../../assets/IMG_1847.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#press__mentions {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

#press_billboard-logo {
	height: 100%;
	width: 100%;
}

.press-logo__dayton-biz {
	background: url('../../assets/logo/dbj.png');
}

.press-logo__elevate-dayton {
	background: url('../../assets/logo/download.png');
}

.press-logo__kultheredmedia {
	background: url('../../assets/logo/kultaheredmedia.png');
}

.press-logo__dayton-daily-news {
	background: url('../../assets/logo/ddn.jpeg')
}

.press-logo {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height: 10em;
	width: 15em;
}
