body {
	height: 100vh;
}

#mission-container {
	flex: 1;
	width: 100%;
	position: relative;
	display: flex;
}

#mission-container #background {
	height: 100%;
	width: 100%;
	background: url('../../assets/IMG-6410.JPG') no-repeat;
	background-size: cover;
	background-position: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

#panel {
	height: 100%;
	width: 60em;
	background: rgba(0,0,0, .5);
	display: flex;
	justify-content: center;
	align-items: center;
}

#mission_content-wrapper {
	background: white;
	padding: 1.75em;
	width: 65%;
	word-wrap: normal;
	border-radius: 12px;
}

#mission_content-wrapper p {
	background: rgb(255, 240, 179);
	color: black;
	font-size: 1em;
	padding: 1em 0;
	text-align: justify;
	font-weight: bolder;
}

@media (max-width: 900px) {
 #panel {
	 width: 100%;
	 margin-top: 2em;
 }
}

@media (max-width: 600px) {
	#mission_content-wrapper {
		width: 95%;
		margin: 4em 0;
	}

	#mission-container #background {
		background-position: left;
	}
}
