#videos-page__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	flex: 1;
}

.video__season {
	height: 10em;
	display: flex;
	width: 85%;
	padding: 1em;
	width: 90%;
}

#billboard {
	height: 25em;
	display: flex;
	flex-direction: column-reverse;
	position: relative;
	width: 100%;
}

#featured-video__default {
	height: 100%;
	width: 100%;
	z-index: -1;
	position: absolute;
	background: orange;
}

#video__seasons {
	width: 80%;
	height: 35em;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

#videos__season-2 {
	background: hotpink;
}

#videos__season-1 {
	background: turquoise;
	padding: 1em;
	width: 90%;
}

.video__preview {
	flex: 1;
	height: 100%;
	border: 1px solid black;
	background: lightgreen;
}

.video__preview span {
	font-size: 1.25em;
}

.featured-video {
	flex: 2;
}

@media (max-width: 900px) {
	#videos-page__container {
		padding-top: 8em;
	}
	
	.video__season {
		flex-direction: column;
		flex: 1;
		margin: 1em 0;
	}

	#video__seasons {
		height: 55em;
	}
}
